*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rebeccapurple;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.imgSlider{
    margin-top: 0;
    /* border: 5px solid blue; */
    width: 100%;
    height: 46.9vw;
    background-image: url(./Images/pexels-wallsio-17724860.jpg);
    background-size: 100% 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: changeImage 20s linear infinite direction fill-mode;
}

@keyframes changeImage {
    0%{
        background-image: url();
    }
    
}